/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Protest+Strike&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Protest+Strike&display=swap');

/* varibales */
:root {
    --color-pinky: #fbe3e8;
    --color-pinkyNight: #fe92a9;
    --color-blueGreeny: #5cbdb9;
    --color-teenyGreeny: #ebf6f5;
}


/* keyframes */
@keyframes check-fill {
    0% {
        stroke-width: 0;
        
    }

    50% {
        
        stroke-width: 80px;
    }

    100% {
        
        stroke-width: 50px;
    }
}

@keyframes circle-fill {
    to {
        stroke-dashoffset: 0;
    }
    
}

@keyframes lineThrough{
    0% { 
        width : 0%; 
        height: 0px;
    }
    100% { 
        height: 2px;
        width: 100%; 
        }
  }

/* universal selector */
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    font-family: "Merriweather", serif;   
}

/* html */

html {
    background-color: var(--color-teenyGreeny);
}

.bg-night {
    background-color: #1F1B24;
}

/* main */
#main {
    width: 90%;
    margin: 1em auto;
    max-width: 1440px;
    
}

#main svg {
    vertical-align: middle;
}

#main span {
    display: inline-block;
    margin: 0 .5em;
}

/* header */

header {
    text-align: center;
}

header h1 {
    margin: 1em;
    font-family: "Protest Strike", sans-serif;

}


/* input div */

#inputDiv {
    margin: 1em auto;
    text-align: center;
    display: flex;
    justify-content: center;
}



/* buttons */
#inputDiv button, li button {
    margin: 0 5px;
    background-color: var(--color-pinky);
    border: 1px solid #222222;
    border-radius: 8px;
    color: var(--color-blueGreeny);
    cursor: pointer;
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    text-align: center;
    padding: 3px;
}

/* svg */

/* checked and notchecked state */

.checked #Circle, .notChecked #Circle {
    stroke-dashoffset: 2100;
    stroke-dasharray: 2100;
    animation: circle-fill 1.5s linear forwards;
}

.checked #Circle {
    stroke: var(--color-pinkyNight) !important;
}

.notChecked #Circle {
    stroke: var(--color-blueGreeny) !important;
}

.checked #Check, .notChecked #Check {
    animation: check-fill 1.5s ease-in;
}

.checked #Check {
    stroke: var(--color-blueGreeny) !important;
}

.notChecked #Check {
    display: none;
}


/* text */

.text {
    position: relative;
}

.text::before {
    content: ' ';
    position: absolute;
    top: 50%;
    left: 0;
    background-color: var(--color-pinky);
}

.checked > .text::before {
    animation-name: lineThrough;
    animation-duration: 1.2s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;  
}

/* list elements */

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 4em;
    border-bottom: 3px solid var(--color-pinky);
    border-radius: 10px;
    margin: 1em 0;
}

li button {
    padding: 5px;   
}


/* list divs */

.textDiv{
    flex-grow: 5;
}


.btnDiv {
    flex-grow: 0;
}


/* inpuut field */

#inputDiv input {
    width: 20em;
    border: var(--color-blueGreeny) 2px solid;
    border-radius: 10px;
    background-color: var(--color-pinky);
    text-align: center;
}

/* hover/focus for add item and save */

#inputDiv .addItemButton {
    box-shadow: inset 50px 50px 50px 50px var(--color-pinky);
}

#inputDiv .addItemButton:hover, #inputDiv .addItemButton:focus {
    box-shadow: inset 0px 0px 0px 0px var(--color-blueGreeny);
    transition: box-shadow 0.8s ease;
}

#inputDiv .saveButton {
    box-shadow: inset 50px 50px 50px 50px var(--color-pinky);
}

#inputDiv .saveButton:hover, #inputDiv .saveButton:focus {
    box-shadow: inset 0px 0px 0px 0px var(--color-blueGreeny);
    transition: box-shadow 0.8s ease;
}

/* hover/focus list buttons */
#down {
    box-shadow: inset 0px -50px 0px 0px var(--color-pinky);
  }
  
#down:hover, #down:focus {
    box-shadow: inset 0px 0px 0px 0px var(--color-blueGreeny);
    transition: box-shadow 0.8s ease;
  }
  
#up {
    box-shadow: inset 0px 50px 0px 0px var(--color-pinky);
  }
  
#up:hover, #up:focus {
    transition: box-shadow 0.8s ease;
    box-shadow: inset 0px 0px 0px 0px var(--color-blueGreeny);
  }

#x {
    box-shadow: inset 0px 20px 50px 20px var(--color-pinky);
}

#x:hover, #x:focus {
    box-shadow: inset 0px 0px 0px 0px var(--color-blueGreeny);
    transition: box-shadow 1s ease;
  }