:root {
    --color-pinky: #fbe3e8;
    --color-blueGreeny: #5cbdb9;
    --color-teenyGreeny: #ebf6f5;
}

@keyframes check-fill {
    0% {
        stroke-width: 0;
        
    }

    50% {
        
        stroke-width: 80px;
    }

    100% {
        
        stroke-width: 50px;
    }
}

@keyframes circle-fill {
    to {
        stroke-dashoffset: 0;
    }
    
}


* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;   
}

#Circle {
    stroke: red !important;
    stroke-dashoffset: 2100;
    stroke-dasharray: 2100;
    animation: circle-fill 1.5s linear forwards;
}

#Check {

    animation: check-fill 1.5s ease-in;
}